/*Defining colors, fonts and other global variables */
:root {
  --nissan-red: #d81921;
  --secondary-dark: #282b2e;
}

@font-face {
  font-family: "SF UI Display Ultralight";
  src: url("./static/fonts/sf-ui-display-ultralight.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Thin";
  src: url("./static/fonts/sf-ui-display-thin.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Light";
  src: url("./static/fonts/sf-ui-display-light.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display";
  src: url("./static/fonts/sf-ui-display-medium.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Semibold";
  src: url("./static/fonts/sf-ui-display-semibold.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Bold";
  src: url("./static/fonts/sf-ui-display-bold.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Heavy";
  src: url("./static/fonts/sf-ui-display-heavy.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Black";
  src: url("./static/fonts/sf-ui-display-black.woff") format("woff");
}

/* Reseting space */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  overflow: hidden;
}
